spring:
  application:
    name: steplang
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
    show-sql: true
  server:
    port: 8080
  security:
    user:
      name: admin
      password: admin
  mvc:
    throw-exception-if-no-handler-found:true
  data:
    redis:
      host: localhost
      port: 6379
  ai:
    openai:
      api-key: ${AI_CHAT_API_KEY}
      base-url: ${AI_CHAT_API_URL}
      chat:
        options:
          model: ${AI_CHAT_MODEL}
          temperature: 0.7
app:
  config:
    access-token-seconds-time: 900 #15 minutes
    refresh-token-seconds-time: 604800 #7 days
